#map {
    height: 200px; 
    width: 200px; 
}
#logo{
    height: 50px; 
    width: 50px; 
}
#lado{
    width: 20%;
}
body{
    font-family: 'Noto Sans Glagolitic', sans-serif;
}
.nav-link.p-0:hover {
    color: #0aad0a !important;
}
#map{
    max-width: 280px;
    max-height: 280px;
    border-radius: 12px;
}